.add-job-container{
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
}
.text-input{
   
    padding: 15px;
    margin: 5px;
}
.submit-btn{
    width: 60%;
    padding: 10px 20px;
    border: none;
    background-color: teal;
    color: white;
    font-size:18px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    border-radius: 2px;
}
.submit-btn:hover{
    background-color: green;
}

input{
    border: 2px solid darkgray;
}
.options{
    border: 2px solid darkgray;
}